@font-face {
    font-family: 'Space Mono';
    src: url('https://github.com/notrickjohnston/spaceMono/raw/main/SpaceMono-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Space Mono';
    src: url('https://github.com/notrickjohnston/spaceMono/raw/main/SpaceMono-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Space Mono';
    src: url('https://github.com/notrickjohnston/spaceMono/raw/main/SpaceMono-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Space Mono';
    src: url('https://github.com/notrickjohnston/spaceMono/raw/main/SpaceMono-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}